<!DOCTYPE html>
<html>
{%load staticfiles%}
<script src="{{STATIC_URL}}mango/js/custom.js"></script>
<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mango/css/basics.css">
</head>

<h1 style="background-color: lightblue;">
{% if latest_list %}
    <ul>
    {% for item  in latest_list %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
</h1>

<div class="menu"> Is this where I should put the list?
<a href="{% url 'mango:index' %}">go to hello</a>
</div>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me for Date and Time.
</button>
<p id="demo">It will be printed here.</p>

<br>
<button type="button" onclick="myFunction()">Click Me!
</button>
<p id="fun">Change the text</p>
<script>
function myFunction()
{
    document.getElementById("fun").innerHTML = "Hello Javascript";
}
</script>


<button type="button" onclick="customJS()">CustomId</button>
<p id="customId">I am customID</p>

<img src = "{% static "mango/images/mango.jpeg" %}" alt="My Image"/>
<img src="{{STATIC_URL}}mango/images/mango.jpeg"/> 
</html>
